﻿@model IList<Infusion.MovieScavengerApp.ViewModels.MovieViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Movie Scavenger - Home</title>
</head>
<body>
<div>
    <h1>Movie List</h1>
    <table>
        <thead>
        <tr><th>Title</th><th>Release Date</th><th>Cast</th></tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr><td>@movie.Title</td><td>@movie.ReleaseDate</td><td>@movie.Actors</td></tr>
            }
        </tbody>
    </table>

    @* TODO insert snippet 3 *@
</div>
</body>
</html>